$background: #fff;
$list-background: #f2f2f2;
$list-hover: #e3350d;
$header-background: #616161;

$pokemon-id: #919191;

$bug: #1c4b27;
$dark: #040706;
$dragon: #448b95;
$electric: #e3e429;
$fairy: #971944;
$fighting: #994026;
$fire: #ab1f23;
$flying: #4a687e;
$ghost: #333366;
$grass: #147b3d;
$ground: #a7702e;
$ice: #b9e8fa;
$normal: #77515b;
$poison: #5c2d8a;
$psychic: #a42a6c;
$rock: #48180b;
$steel: #61746d;
$water: #1552e2;
