@use "../variables/colors";
.bug {
  color: colors.$bug;
}

.dark {
  color: colors.$dark;
}

.dragon {
  color: colors.$dragon;
}

.electric {
  color: colors.$electric;
}

.fairy {
  color: colors.$fairy;
}

.fighting {
  color: colors.$fighting;
}

.fire {
  color: colors.$fire;
}

.flying {
  color: colors.$flying;
}

.ghost {
  color: colors.$ghost;
}

.grass {
  color: colors.$grass;
}

.ground {
  color: colors.$ground;
}

.ice {
  color: colors.$ice;
}

.normal {
  color: colors.$normal;
}

.poison {
  color: colors.$poison;
}

.psychic {
  color: colors.$psychic;
}

.rock {
  color: colors.$rock;
}

.steel {
  color: colors.$steel;
}

.water {
  color: colors.$water;
}
