@use "../variables/colors";
.pokemon {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;

  &__avatar {
    height: 55vw;
    width: 55vw;
    border-radius: 5px;
    background-color: colors.$list-background;

    @media (min-width: 768px) {
      height: 25vw;
      width: 25vw;
    }
  }

  &__id {
    display: block;
    color: colors.$pokemon-id;
  }

  &__id::before {
    content: "#";
  }

  &__name {
    font-size: 1.3rem;
    display: block;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}
